@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .card-container {
    @apply w-full h-screen flex items-center justify-center;
  }
  .card {
    @apply p-8 w-fit rounded-lg bg-white shadow-lg;
  }

  .card__desc {
    @apply text-blue-900 text-base tracking-wide;
  }

  .card__input {
    @apply border border-blue-200 rounded-md shadow-md p-2 outline-none mt-3 disabled:opacity-80;
  }

  .card__change-btn {
    @apply mt-4 px-6 py-2 bg-blue-600 text-white font-semibold rounded-md shadow-md block;
  }

  .card__copy-btn {
    @apply text-white rounded-md shadow-md px-4 py-2 border text-black outline-none;
  }

  .toast-msg {
    @apply w-fit px-4 py-2 rounded-lg shadow-lg bg-white text-black fixed right-4 top-4 font-semibold cursor-pointer active:ring-4 active:ring-offset-2 active:ring-red-400;
  }
}

.toast-in {
  animation: fade-in 0.5s ease-in;
}

.toast-out {
  animation: fade-out 0.5s ease-in;
}

@keyframes fade-in {
  from {
    transform: translateX(200px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(200px);
    opacity: 0;
  }
} 